body 
{
    background: url(../images/bg.png);
}
.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.text-logo
{
    font-family: 'Holtwood One SC', sans-serif;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}
.text-logo .glyphicon 
{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}
.nav
{
   margin-bottom: 40px;
}
.thumbnail img
{
    background: #ffd301;
}
.price
{
    background: #5cb85c;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}
.price:before 
{
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-left: 4px solid #4a934a;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}
.caption > h4
{
    color: #e7480f;
    font-size: 18px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #e7480f;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: #e7480f;
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}
.btn-order, .btn-primary
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #e7480f !important ;
    text-decoration: none;
    text-shadow: 2px 2px #333;
}
.btn-primary{
    border: none !important;
}
.btn-order:hover, .btn-primary:focus, .btn-primary:hover, .btn-order:focus
{
    color: #fff;
    background-color: #c13c0d;
}
.login-name{
    position: absolute;
    top: 20px;
    right: 10px;
	color:#ffffff;
}

.panel-info>.panel-heading {
    color: #000000;
    background-color: transparent !important; 
    border-color: transparent !important; 
}

.login-form {
	margin: 10px auto;
	max-width: 446px;
}

form[role=login] {
	font: 18px/2.2em Lato, serif;
	color: #b4b4b4;
	background: rgba(255, 255, 255, 0.18);
	max-width: 446px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px 40px 30px 40px;
}	
form[role=login] h3 {
        font-size: 24px;
        color: #0b2344;
}
form[role=login] h4 {
        margin: 15px 0 30px 0;
}
form[role=login] input,
form[role=login] button {
        font-size: 16px;
        margin: 5px 0;
}
form[role=login] input {
        color: #000000;
        background: #fff;
        box-shadow: none;
        margin: 25px 0;
}
        form[role=login] input::-webkit-input-placeholder {
                color: #c1c4c5;
        }
        form[role=login] input:-moz-placeholder {
                color: #c1c4c5;
        }
        form[role=login] input::-moz-placeholder {
                color: #c1c4c5;
        }
        form[role=login] input:-ms-input-placeholder {  
                color: #c1c4c5;
        }
form[role=login] > div {
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
}
form[role=login] > div a {
        font-size: 15px;
        color: #ffd301;
}
#login-submit {
    background: #e7480f;
    border: #e7480f;
}


#cart{
    color: #fff;
    position: absolute;
    float: right;
    background: rgba(231, 72, 15, 0.48);
    z-index: 999;
    width: 100%;
}

#cart img{
float:left;
display: block;
text-align: center;
width: 50px;
}

#cart p{
padding-left: 20px;
display: block;
}

#loadingDiv{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url('../images/loader.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.panel{
    background-color: rgba(255, 255, 255, 0.58) !important;
}
/*  ADMIN */

.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.help-inline
{
    color: red;
}
.menuadmin2{
    width: 87%;
    margin: 0 auto;
}

.products-promo{
        overflow:auto;
        height:100%;
        background:#fafafa;
}
.products-promo ul{
        list-style:none;
        margin:0;
        padding:0px;
}
.products-promo li{
    display: table;
    float: left;
    margin: 10px;
    width: 17%;
}
.item-promo{
        display:block;
        text-decoration:none;
}

.item-promo p{
        margin:0;
        font-weight:bold;
        text-align:center;
}
.cart-promo{
        float:right;
        position:relative;
        width:260px;
        height:100%;
        background:#ccc;
        padding:0px 10px;
}
.ctitle-promo{
        text-align:center;
        color:#555;
        font-size:18px;
        padding:10px;
}
